.headerBox {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.iconsGroupBox {
  display: flex;
  justify-content: space-between;
  width: 12vw;
}

.logoBox {
  position: relative;
  width: 26vw;
  height: 10vw;
}
