.cardBox {
  width: fit-content;
  height: fit-content;
  background-color: rgb(255 255 255 / 0.95);
  padding: 2vw;
  border-radius: 0.5vw;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.buttonBox {
  width: 100%;
}
